

body{
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center;
    background: url(./img006.jpeg) no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

/* Home page navigation bar */
  .menu{
    background-color: #333;
    color: orange;
    font-family: Georgia;
    font-size: 19px;
  }

  .menu ul :hover{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: orange;
    transition: 0.5s;
    text-transform: uppercase;
   
  }
  
  .menu li {
    display: inline-block;
    padding: 20px;
  }
  
  .menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    color:orange;
  }
  
  .menu li a:hover {
    background: color #555;
  }

/* feedback Section */
.contact-section{
    margin: auto;
    padding: 0;
    position: relative;
    top: 10px;
    width: 40%;
    background: #000000;
    padding: 40px 0;
    transition: all 0.7s;
    border-radius: 20px;
    /* Animation */
    animation: anim 1s ease-in forwards;
}

/* Loading Animation */
@keyframes anim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.contact-section:hover{
    transform: scale(1.03);
}

/* Heading */
.contact-section h1{
    text-align: center;
    color: #ecf0f1;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

.border{
    width: 100px;
    height: 6px;
    background: #e74c3c;
    margin: 20px auto;
}

/* Form */
.contact-form{
    max-width: 600px;
    width:90%
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
    flex-direction: column;
}

.c-text,input{

    display: block;
    width: 90%;
    box-sizing: border-box;
    margin: 16px auto 0 ;
    border: none;
    background: #ecf0f1;
    padding: 20px 30px;
    outline: none;
    color: #2c3e50;
    transition: all 0.4s;


}

.c-text:focus{
    padding: 15px 30px;
}

textarea{
    resize: none;
    height: 120px;
}

.c-btn{
    width: 90%;
    height: 5vh;
    font-size: 1rem;
    background: #e74c3c;
    outline: none;
    border: none;
    color: #ecf0f1;
    cursor: pointer;
    transition: all 0.5s;
}

.c-btn:hover{
    background: #ecf0f1;
    color: #e74c3c;
    font-size: 1.1rem;
}

/* Responsive */
@media(max-width:1400px){
    /* Whole Doc */
    body{
        background-size: 1500px;
    }
}

@media(max-width:1000px){
    /* Contact Section */
    .contact-section{
        width: 60%;
    }
}

@media(max-width:600px){
    /* Contact Section */
    .contact-section{
        width: 80%;
    }
}
footer {
    background-color: #555;
    color: orange;
    padding: 10px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    color:orange;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column ul li a {
    color: orange;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-column ul li a:hover {
    color:white;
    text-transform: uppercase;
  }
  
  .footer-bottom {
    margin-top: 10px;
    text-align: center;
    color:white;
    font-size: 25px;
  }
  
  .footer-bottom .footer-links {
    display: inline-block;
    margin: 0 10px;
  }
  
  .footer-bottom .footer-links h3 {
    color:orange;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .footer-bottom .footer-links ul {
    list-style: square;
  }